.own-message {
  width: 60%;
  display: grid;
  grid-template-columns: 7.5fr 0.5fr 0.45fr;
  grid-template-rows: auto;
  grid-template-areas: 'text text text'
                       'time edit trash';
  justify-items: start;
  justify-self: end;
  align-items: center;
  column-gap: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background: rgba(99, 89, 238, 0.233);
  border-radius: 0.5rem;
}

.message-edit:hover, .message-delete:hover {
  cursor: pointer;
}

.message-edit {
  grid-area: edit;
}

.message-delete{
  grid-area: trash;
}

.message-edit, .message-delete {
  color: #25222cbb;
}

@media only screen and (max-width: 550px) {
  .own-message {
    width: 95%;
  }
}