.edit-message-modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #46568157;
  display: none;
  position: absolute;
  z-index: 2;
}

.edit-message-modal.modal-shown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-root {
  width: 40vw;
  height: 50vh;
  background: #f8f7fd;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.modal-header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  font-family: 'Merienda', cursive;
  font-size: 2rem;
  color: #986cff;
}

.modal-body {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-message-input {
  width: 90%;
  height: 90%;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid #986cff;
  vertical-align: top;
}

.modal-footer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.edit-message-close, .edit-message-button {
  width: 10vh;
  height: 5vh;
  box-shadow: none;
  outline: none;
  font-size: 1rem;
  border: 2px solid #986cff;
  border-radius: 0.5rem;
  line-height: 4vh;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}

.edit-message-close:hover, .edit-message-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.edit-message-button {
  color: #fff;
  background-color: #986cff;
  margin-right: 2rem;
}

.edit-message-close {
  color: #986cff;
  background-color: #fff;
  margin-right: 1rem;
}