.message-input {
  height: 5%;
  width: calc(100% -  2rem);
  border-radius: 0.5rem;
  border: 0.25rem solid white;
  padding: 0.5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #25222cbb;
}

.message-input-button {
  width: 5vh;
  height: 5vh;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 1rem;
  color: #fff;
  background-color: #986cff;
  padding: 0;
  border-radius: 0.5rem;
  line-height: 4vh;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}

.message-input-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.message-input-button i {
  display: block;
}

.message-input-text {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}