.message {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 7fr 0.5fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas: 'avatar text text text'
                        'user time like dislike';
  justify-items: start;
  align-items: center;
  column-gap: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

.active {
  border: solid 2px #986cff;
}

.message-user-avatar {
  grid-area: avatar;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  object-fit: cover;
}

.message-user-name {
  grid-area: user;
}

.message-text {
  grid-area: text;
  text-align: start;
}

.message-time {
  grid-area: time;
  font-size: 0.7rem;
}

.fa-thumbs-up:hover, .fa-thumbs-down:hover {
  cursor: pointer;
}

.fa-thumbs-up {
  grid-area: like;
}

.fa-thumbs-down {
  grid-area: dislike;
}

.message-like, .message-dislike {
  color: #25222cbb;
}

.message-liked, .message-disliked {
  color: rgb(255, 255, 0);
}

@media only screen and (max-width: 550px) {
  .message {
    width: 95%;
  }
}